<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.san.rotinafacil">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.RotinaFacil">
        <activity
            android:name=".view.activity.TaskFormActivity"
            android:parentActivityName=".view.activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.ChatActivity"
            android:exported="true"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/Theme.RotinaFacil.NoActionBar" />
        <activity
            android:name=".view.activity.ConfiguracoesActivity"
            android:exported="true"
            android:parentActivityName=".view.activity.MainActivity" />
        <activity
            android:name=".view.activity.CadastrarUserActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>